<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ch05.dao.StuDao">

    <!--身份证的resultMap-->
    <resultMap id="cardMap" type="card">
        <id property="cardId" column="ID"/>
        <result property="cardNum" column="CARD_NUM"/>
    </resultMap>

    <!--班级的resultMap-->
    <resultMap id="classMap" type="classInfo">
        <id property="classId" column="ID"/>
        <result property="className" column="C_NAME"/>
    </resultMap>

    <!--课程的resultMap-->
    <resultMap id="coursesMap" type="course">
        <id property="courseId" column="ID"/>
        <result property="courseName" column="COURSE_NAME"/>
    </resultMap>

    <!--学生的resultMap，关联身份证、班级、课程-->
    <resultMap id="stuMap" type="students">
        <id property="stuId" column="ID"/>
        <result property="stuName" column="STU_NAME"/>
        <result property="age" column="AGE"/>
        <!--使用association属性一对一关联身份证，property指定实体中关联的属性名
        resultMap属性引用上面定义的StuCard的resultMap-->
        <association property="card" resultMap="cardMap"/>
        <!--使用association属性多对一关联班级-->
        <association property="classInfo" resultMap="classMap"/>
        <!--使用collection属性多对多关联课程-->
        <collection property="course" resultMap="coursesMap"/>
    </resultMap>






    <!--关联查询学生和身份证信息，应该使用resultMap属性-->
    <select id="findStuById" parameterType="int" resultMap="stuMap">
        SELECT * FROM STUDENTS S LEFT JOIN CARD C ON S.ID = C.STU_ID
        WHERE S.ID = #{stuId}
    </select>

    <!--关联查询学生和身份证以及对应班级的信息-->
    <select id="findStuById2" parameterType="int" resultMap="stuMap">
        SELECT * FROM STUDENTS S LEFT JOIN CARD C ON S.ID = C.STU_ID
        LEFT JOIN CLASS_INFO CLS ON S.C_ID = CLS.ID WHERE S.ID = #{stuId}
    </select>

    <!--关联查询某个学生所选的课程-->
    <select id="findStuById3" parameterType="int" resultMap="stuMap">
        SELECT * FROM STUDENTS S LEFT JOIN MIDDLE M ON S.ID = M.STU_ID
        LEFT JOIN COURSE COU ON COU.ID = M.COURSE_ID WHERE S.ID = #{stuId}
    </select>
</mapper>
