<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ch09.dao.StuDao">

    <!-- 身份证的resultMap -->
    <resultMap id="cardMap" type="stuCard">
        <id property="cardId" column="CARD_ID"/>
        <result property="cardNum" column="CARD_NUM"/>
    </resultMap>

    <!-- 班级的resultMap -->
    <resultMap id="classMap" type="classInfo">
        <id property="classId" column="C_ID"/>
        <result property="className" column="C_NAME"/>
    </resultMap>

    <!-- 课程的resultMap -->
    <resultMap id="courseMap" type="course">
        <id property="courseId" column="COURSE_ID"/>
        <result property="courseName" column="COURSE_NAME"/>
    </resultMap>

    <!-- 学生的resultMap，关联身份证、班级、课程 -->
    <resultMap id="stuMap" type="students">
        <id property="sid" column="STU_ID"/>
        <result property="stuName" column="STU_NAME"/>
        <result property="stuAge" column="STU_AGE"/>
        <!-- 使用association属性一对一关联身份证，property指定实体中关联的属性名
         resultMap属性引用上面定义的StuCard的resultMap-->
        <association property="stuCard" resultMap="cardMap"/>
        <!-- 使用association属性多对一关联班级 -->
        <association property="classInfo" resultMap="classMap"/>
        <!-- 使用collection属性多对多关联课程 -->
        <collection property="courses" resultMap="courseMap"/>
    </resultMap>

</mapper>