<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ch08.dao.ClassDao">

    <!-- 课程的resultMap -->
    <resultMap id="courseMap" type="course">
        <id property="courseId" column="COURSE_ID"/>
        <result property="courseName" column="COURSE_NAME"/>
    </resultMap>

    <!-- 学生的resultMap，为了在班级的resultMap中进行关联 -->
    <resultMap id="stuMap" type="students">
        <id property="stuId" column="STU_ID"/>
        <result property="stuName" column="STU_NAME"/>
        <result property="stuAge" column="STU_AGE"/>
        <result property="stuSex" column="STU_SEX"/>
        <!-- 多对多关联课程 -->
        <collection property="course" resultMap="courseMap"/>
    </resultMap>

    <!--  班级的resultMap -->
    <resultMap id="classMap" type="classInfo">
        <id property="classId" column="CLASS_ID"/>
        <result property="className" column="CLASS_NAME"/>
        <!-- 一对多关联学生  -->
        <!-- collection代表一个集合  集合里面有多个学生 -->
        <collection property="students" resultMap="stuMap"/>
    </resultMap>

    <!-- 关联查询某个班级下的学生信息 -->
    <!--<select id="findClassById" parameterType="int" resultMap="classMap">
        SELECT * FROM CLASS_INFO C LEFT JOIN STU_INFO S ON C.CLASS_ID = S.CLASS_ID
        WHERE C.CLASS_ID = #{cid}
    </select>-->

    <!-- 关联查询某个班级下的所有学生所选择的课程 -->
   <!-- <select id="findClassById2" parameterType="int" resultMap="classMap">
       SELECT C.CLASS_ID, C.CLASS_NAME, S.STU_NAME, CO.COURSE_NAME FROM
       CLASS_INFO C LEFT JOIN STU_INFO S ON C.CLASS_ID = S.CLASS_ID
       LEFT JOIN STU_COURSE SC ON S.STU_ID = SC.STU_ID
       LEFT JOIN COURSE_INFO CO ON CO.COURSE_ID = SC.COURSE_ID
       WHERE C.CLASS_ID = #{cid}
    </select>-->

</mapper>